$("#comments_area").append(
  '<ul class="cf"><li class="image_area"><%= profile_img(@comment.user) %></li><li class="name_area"><%= @comment.user.name %>さんがコメントしました。</li></ul><p class="left comment_content"><%= @comment.content %></p><% if current_user.id == @comment.user_id %><a class="edit fa fa-pencil-square-o fa-lg" id="<%= @comment.id %>"></a><%= link_to '', comment_path(@comment), class: "fa fa-trash-o fa-lg", method: :delete, remote: true, data: { confirm: '本当に削除していいですか？' } %></p><% end %>')
$(':text').val('')
