<div class="wrap">
	<% if user_signed_in?%>
	<h2>投稿する</h2>
		<%= render 'form' %>
	<% end %>

<% @topics.each do |topic| %>
  <ul class="cf">
    <li class="image_area"><%= image_tag(topic.user.avatar) %></li>
    <li  class="name_area"><%= topic.user.name %>さん</li>
  </ul>
  <br>
	<%= link_to topic_path(topic.id) do%>
		<p class="topic_title"><%= topic.title %></p>
		<p class="topic_text"><%= topic.content %></p>
	  <figure class="picture_area">
			<% picture =  topic.pictures.first%>
			<%= image_tag (picture.image.url) %>
		  <% if topic.user == current_user %>
			  <ul class="icon cf">
			    <li><%=link_to '削除', topic_path(topic.id), class: "fa fa-trash-o fa-lg", method: :delete%></li>
			    <li><%=link_to '編集', edit_topic_path(topic.id), class: "fa fa-edit fa-lg"%></li>
			  <ul>
		  <% end %>
	  </figure>
	<% end %>
  <br>
  <br>
<% end %>

</div>
