<div class="inner">
		<% if user_signed_in?%>
			<div class="form_area">
				<%= render 'form' %>
			</div>
		<% end %>
		<div class="topic_area">
			<% @topics.each do |topic| %>
				<div class="topic_contents">
				  <ul class="cf">
				    <li class="image_area"><%= profile_img(topic.user) %></li>
				    <li class="name_area"><%= topic.user.name %>さん</li>
				  </ul>
				  <br>
					<%= link_to topic_path(topic.id) do%>
						<p class="topic_text"><%= topic.content %></p>
					  <figure class="topic_area">
							<% pictures =  topic.pictures%>
							<% picture =  topic.pictures.first%>
							<% if picture.present? %>
								<%= image_tag (picture.image) %>
							<% end %>
						  <% if topic.user == current_user %>
							  <ul class="icon cf">
							    <li><%=link_to '', topic_path(topic.id), class: "fa fa-trash-o fa-lg", method: :delete%></li>
							    <li><%=link_to '', edit_topic_path(topic.id), class: "fa fa-edit fa-lg"%></li>
							  <ul>
						  <% end %>
					  </figure>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
